aiofiles
aiohttp
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
cinemagoer
SQLAlchemy<2.0.0
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
git+https://github.com/zevtyardt/lk21.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
gunicorn
heroku3
html-telegraph-poster
httpx
imdbinfo
langcodes[data]
lxml
markdown
megasdk
motor
mutagen
natsort
pillow
psutil
pybase64
pycountry
pycryptodome
pymongo
#pyrofork==2.3.69
wzgram
python-dotenv
python-magic
pytz
qbittorrent-api
requests
setuptools
simple-justwatch-python-api
speedtest-cli
telegraph
tenacity
tgcrypto
tmdbv3api
urllib3
uv
uvloop==0.21.0
waybackpy
xattr
yt-dlp
